

<div class="diffSection" id="portfolio_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Portfolyö</p></center>
		<div class="content">
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			</p>
		</div>
	</div>
	<div class="extra">
		<p>Her Gün Büyüyoruz</p>
		<div class="smbox">
		<span><center><div class="data">@ViewBag.user_count</div><div class="det">Öğrenci Sayımız</div></center></span>
		<span><center><div class="data">@ViewBag.lesson_count</div><div class="det">Toplam Ders</div></center></span>
		<span><center><div class="data">@ViewBag.lesson_icerik_count</div><div class="det">İçerik Sayımız</div></center></span>
@*		<span><center><div class="data">27</div><div class="det"></div></center></span>
*@		</div>
	</div>