@using EntityLayer.Concrete
@*@model List<Lesson_icerik>
*@
@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<EntityLayer.Concrete.Lesson_icerik>

@{
    ViewData["Title"] = "PasifDersicerigiListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table">
  <thead>
    <tr>
      <th hidden scope="col">#</th>
      <th scope="col">Ders içerik Adı</th>
      <th scope="col">Durumu</th>
      <th scope="col">Aktif Yap</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var i in Model)
      {
    <tr>
      <th hidden scope="row">@i.içerik_id</th>
      <td>@i.icerik_name</td>
      <td>@i.durum</td>
      <td><a href="/Admin/Admin/DersicerikAktifYap/@i.içerik_id" class="btn btn-success">Aktif Yap</a></td>
    </tr>
      }
  </tbody>
</table>
<br /><br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("PasifDersicerigiListele",new{page}))