@using EntityLayer.Concrete
@model List<AppUser>

<div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">kullanıcı Hakkında</h4>
                    <h1>@ViewBag.username</h1>
               
                </div>
              </div>
            </div>
            </div>