
@{
    ViewData["Title"] = "HeaderAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Header Ekle</h1>

<form method="post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Başlık </label>
  <input type="text" class="form-control" name="Header_baslik" id="exampleFormControlInput1" placeholder="Başlık" required>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Alt Başlık </label>
  <input type="text" class="form-control" name="Header_icerik" id="exampleFormControlInput1" placeholder="içerik girinz" required>
</div>

<br />
<button type="submit" class="btn btn-primary">Kaydet</button>
</form>

<br /><br />

@await Component.InvokeAsync("HeaderAdminList")