
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ElearningLayout.cshtml";
}

<!-- Navigation Bar -->
@*await Component.InvokeAsync("Header")
*@

<!-- Some Popular Subjects -->
	@*<div class="title">
		<span>Popular Eğitimler</span>
	</div>
	<br><br>
	<div class="course">
		<center><div class="cbox">
		<div class="det"><a href="subjects/jee.html"><img src="~/LearnEd_E-learning_Website-master/images/courses/book.png">Robotik Kodlama</a></div>
		<div class="det"><a href="subjects/gate.html"><img src="~/LearnEd_E-learning_Website-master/images/courses/d1.png">Yazılım</a></div>
		<div class="det"><a href="subjects/jee.html#sample_papers"><img src="~/LearnEd_E-learning_Website-master/images/courses/paper.png">Ardunio</a></div>
		<div class="det"><a href="subjects/quiz.html"><img src="~/LearnEd_E-learning_Website-master/images/courses/d1.png">Yapay zeka</a></div>
		</div></center>
		<div class="cbox">
		<div class="det"><a href="subjects/computer_courses.html"><img src="~/LearnEd_E-learning_Website-master/images/courses/computer.png">Bilgisayar</a></div>
		<div class="det"><a href="subjects/computer_courses.html#data"><img src="~/LearnEd_E-learning_Website-master/images/courses/data.png">veri yapıları</a></div>
		<div class="det"><a href="subjects/computer_courses.html#algo"><img src="~/LearnEd_E-learning_Website-master/images/courses/algo.png">Algoritma</a></div>
		<div class="det det-last"><a href="subjects/computer_courses.html#projects"><img src="~/LearnEd_E-learning_Website-master/images/courses/projects.png">Projeler</a></div>
		</div>
	</div>*@

	
<!-- ABOUT -->
    
@*	await Component.InvokeAsync("AboutUs")
*@

<!-- PORTFOLIO -->
	@*await Component.InvokeAsync("Portfolyo")*@





<!-- SERVICES -->
@*	<div class="service-swipe">
		<div class="diffSection" id="services_section">
		<center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">Services</p></center>
		</div>
		<a href="subjects/computer_courses.html"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/computer-courses.png"><p>Free Online Computer Courses</p></div></a>
		<a href="subjects/jee.html"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/brainbooster.png"><p>Building Concepts for Competitive Exams</p></div></a>
		<a href="#"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/online-tutorials.png"><p>Online Video Lectures</p></div></a>
		<a href="subjects/jee.html#sample_papers"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/papers.jpg"><p>Sample Papers of Various Competitive Exams</p></div></a>
		<a href="#"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/p3.png"><p>Performance and Ranking Report</p></div></a>
		<a href="#contactus_section"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/discussion.png"><p>Discussion with Our Tutors & Mentors</p></div></a>
		<a href="subjects/quiz.html"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/q1.png"><p>Daily Brain Teasing Questions to Improve IQ</p></div></a>
		<a href="#contactus_section"><div class="s-card"><img src="~/LearnEd_E-learning_Website-master/images/icon/help.png"><p>24x7 Online Support</p></div></a>
	</div>*@



<!-- CONTACT US -->
@*	<div class="diffSection" id="contactus_section">
		<center><p style="font-size: 50px; padding: 100px">İletişim</p></center>
		<div class="csec"></div>
		<div class="back-contact">
			<div class="cc">
			<form action="mailto:asametyorgun60@gmail.com" method="post" enctype="text/plain">
				<label>İsim <span class="imp">*</span></label><label style="margin-left: 185px">Soyisim <span class="imp">*</span></label><br>
				<center>
				<input type="text" name="" style="margin-right: 10px; width: 175px" required="required"><input type="text" name="isim" style="width: 175px" required="required"><br>
				</center>
				<label>Email <span class="imp">*</span></label><br>
				<input type="email" name="mail" style="width: 100%" required="required"><br>
				<label>Mesaj <span class="imp">*</span></label><br>
				<input type="text" name="mesaj" style="width: 100%" required="required"><br>
				<label>Mesaj Detay</label><br>
				<textarea name="detay"></textarea><br>
				<button type="submit" id="csubmit">Mesajı Gönder</button>
			</form>
			</div>
		</div>
	</div>
*@
