@using EntityLayer.Concrete
@model Lesson_icerik
@{
    ViewData["Title"] = "izle";
    //Layout = "~/Views/Shared/_ElearningLayout_icerik.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<style>
    .kapat{
        padding:15px;
        bottom:0px;
        width:100%;
        position:fixed;
        background-color:#444444;
    }
</style>

<button class="btn btn-primary" onClick="geri()">Geri Git</button>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
             <iframe src="@Model.Yol" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="kapat">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<script type="text/javascript">

		function geri(){
			history.go(-1)

		}
</script>

